// Colors
$color-white: #FFFFFF;
$color-text-dark: #343030;
$color-text-light: #F4F6F9;
$color-border-light: #E1E1E1;
$color-border-dark: #B5B5B5;
$color-gray-light: #ECEAEA;
$color-gray-lightest: #A0A0A0;
$color-gray-dark: #555555;
$color-placeholder: #9F9F9F;
$color-btn-dark: #403432;
$color-btn-light: #5B3A32;
$color-btn-hover: #776763;
$color-btn-disabled: #C1B4B1;

// Font
$font-family: 'Merriweather', serif;
$font-size: 16px;
$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg: 24px;
