* {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #fff 0%, #000 100%);
}

@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'blocks/blocks';
